<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1010466937879-1lnacjasr33qie48h4l3ar6oi4u2fn8s.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1010466937879-1lnacjasr33qie48h4l3ar6oi4u2fn8s</string>
	<key>API_KEY</key>
	<string>AIzaSyAxooxntIIgStxE-k4mcXlG_gulcS1dfS4</string>
	<key>GCM_SENDER_ID</key>
	<string>1010466937879</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.todoproject</string>
	<key>PROJECT_ID</key>
	<string>todoproject-f433c</string>
	<key>STORAGE_BUCKET</key>
	<string>todoproject-f433c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1010466937879:ios:7fd9f9c9c5c61476189052</string>
</dict>
</plist>